@model WebApplication1.Models.Recipe_Feedback

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe_Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
@if (User.Identity.IsAuthenticated && User.Identity.Name == Model.User.User_Name || User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
{
        <dt>
            @Html.DisplayNameFor(model => model.RecipeFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeFeedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.User_Name)
        </dd>
}
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
