@model WebApplication1.Models.Recipe_Feedback

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe_Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecipeFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeFeedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.User_Name)
        </dd>

    </dl>
</div>
<p>
@if (User.Identity.IsAuthenticated && User.Identity.Name == Model.User.User_Name || User.IsInRole("Admin,SuperAdmin"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) }
    @Html.ActionLink("Back to List", "Index")
</p>
